//color
$dark-grey:#333;
$blue:#1c88bf;
$dark-blue:#364051;
$off-white:#f7f7f7;
$grey:#666;
//Font-size
$font-size-large:1.8rem;
//spacing
$s-size:1rem;
$m-size:1.4rem;
$l-size:2.8rem;
$xl-size:4.2rem;